<div class="container">
  <p class="font-bold text-4xl text-center"> Pokédex</p>
  <div class="flex flex-column lg:flex-row col-12 align-items-center justify-content-center">
    <p class="col-10 text-center lg:col-6  ">
      A Pokédex no mundo fictício dos Pokémon é um dispositivo eletrônico que
      intervém nos videogames e nas séries de anime. Nos jogos, sua função é registrar os
      dados de um Pokémon. No mangá e no anime, a Pokédex é uma enciclopédia eletrônica que
      fornece ao treinador informações sobre um Pokémon que é desconhecido. Para utilizá-la, o
      treinador apenas precisa expor a Pokédex na frente dos Pokémon.
    </p>
    <p-galleria class="col-6" [value]="pokedex" [autoPlay]="true" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" style="width: 75%; display: block;" />
      </ng-template>
    </p-galleria>
  </div>
</div>
