<div class="container">
  <div>
    <div class="grid justify-content-between align-items-center flex-nowrap flex-column md:flex-column lg:flex-row m-3rem">
      <div class="title m-4">
        <div class="text-center lg:text-left">
          <h1> Explore o mundo de Pokémon</h1>
        </div>
        <div class="text-center lg:text-left">
          Quer você seja novo na série ou um Treinador de Pokémon experiente,
          há muitos jogos excelentes para descobrir.
        </div>
      </div>
      <div>
        <img class="w-22rem lg:w-auto md:w-auto" src="assets/poke.avif">
      </div>
    </div>
  </div>
</div>
