<div class="about container grid w-full">
  <div class="col-12 p-5 lg:p-8">
    <p class="font-bold text-4xl text-center">Sobre Pokémons</p>
    <p >
      O conceito veio de Tajiri, que, na infância, colecionava pequenos insetos,
      os quais chamava de monstros de bolso, "Pocket monsters". Daí, inclusive, surgiu o nome
      "Pokémon" para denominar os "bichinhos" que protagonizam a narrativa. No mesmo ano da estreia
      do game foi lançado no Japão um jogo de cartas intitulado Pokémon Trading Card Game.
      Apenas dois anos depois do lançamento, Pokémon Red e Green chegariam à América do Norte,
      com algumas mudanças gráficas.
    </p>
    <p>
      No ano seguinte, em 1997, devido ao sucesso dos jogos, foi feita a versão anime de Pokémon.
      Na série animada, a história gira em torno de Ash, um menino de 10 anos, que inicia a jornada
      para se transformar num mestre Pokémon ao lado de Pikachu. O seriado original teve cinco temporadas
      e deu origem a mais 18 temporadas de spin-off, além de filmes e especiais de tevê.
    </p>
    <p>
      Após um período longe do auge, Pokémon voltou aos holofotes em 2016 com
      a chegada do Pokémon GO para os dispositivos iOS e Android. O joguinho movimentou
      os fãs antigos e angariou novos, em uma jornada que o próprio jogador caçava os pokémons
      usando o sistema de GPS do smartphone e uma tecnologia de realidade aumentada.
    </p>
  </div>
</div>
