<div class="container flex align-items-center justify-content-center ">
  <div>
    <img class="w-13rem  pt-3 pr-4 lg:pt-3 lg:pr-5" src="assets/footerlateral.png">
  </div>
  <div class="border-left-1 pl-3">
    <p class="text-left col-12 text-base  p-0 m-0">Todos os direitos para Thi Code </p>
    <p class="text-left col-12 text-base font-semibold p-0 m-0">Dados retirados de <a class="no-underline font-bold" target="_blank" href="https://www.pokemon.com/br/pokedex">Pokedex</a></p>
  </div>
</div>
