<div class="container ">
  <div class="col-12 p-5 lg:p-8 ">
    <p class="text-center font-bold text-3xl">Curiosidades</p>
    <p-fieldset legend="O primeiro Pokémon criado" [toggleable]="true">
      <p class="m-0">
        Rhydon é o 112° Pokémon da Pokédex, mas o primeiro no coração de Ken Sugimori.
        O braço direito de Satoshi Tajiri, criador da franquia, revelou em entrevista que o
        rinoceronte de pedra foi o primeiro Pokémon criado pela Game Freak. Rhydon aparece em
        rabiscos conceituais durante o desenvolvimento da primeira geração.
      </p>
    </p-fieldset>
    <br/>
    <p-fieldset legend="Um mundo sem figuras paternas" [toggleable]="true">
      <p class="m-0">
        Em mais de 25 anos de história, Pokémon só apresentou um único pai para o protagonista dos
        jogos principais. Em Pokémon Ruby, Sapphire e Emerald, o pai do personagem principal é Norman,
        líder de ginásio do tipo Normal em Petalburg. Em todos os outros jogos, somente um parente está do
        lado dos protagonistas: a mãe.
      </p>
    </p-fieldset>
    <br/>
    <p-fieldset legend="CLEFAIRY ERA PRA SER “A CARA” DE POKÉMON" [toggleable]="true">
      <p class="m-0">
        Originalmente o Pikachu não era o ícone/mascote de Pokémon! Essa
        decisão veio depois, pelos produtores acharem que ele tinha mais a cara
        de um mascote. Inclusive, no mangá japonês o Clefairy é até capaz de falar.
      </p>
    </p-fieldset>
  </div>
</div>


