<div class="container">
  <div class="card flex justify-content-center m-5">
    <p-card class="p-2" [style]="{ width: '360px'}">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/jogos/jogoum.jpg" />
      </ng-template>
      <h2> Pokémon Red & Blue </h2>
      <p>
        O objetivo dos jogos é se tornar o Campeão da Liga Indigo,
        derrotando os oito Líderes de Ginásio em oito cidades do território e
        em seguida, os quatro melhores treinadores do jogo, a Elite dos Quatro
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <a href="https://play.google.com/store/games" class="w-full" target="_blank"><p-button label="Baixar Agora!" styleClass="w-full"></p-button></a>
        </div>
      </ng-template>
    </p-card>
    <p-card class="p-2" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/jogos/jogodois.jpeg" />
      </ng-template>
      <h2> Pokémon Pinball </h2>
      <p>
        O principal objetivo de Pokémon Pinball era capturar e evoluir
        Pokémon, sem acabar com todas as Pokéballs restantes. À medida que o
        jogo vai avançando, o jogador pode construir e atualizar sua Pokédex.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <a href="https://play.google.com/store/games" class="w-full" target="_blank"><p-button label="Baixar Agora!" styleClass="w-full"></p-button></a>
        </div>
      </ng-template>
    </p-card>
    <p-card class="p-2" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/jogos/jogotres.jpg" />
      </ng-template>
      <h2> Pokémon Stadium </h2>
      <p>
        É um jogo de lutas entre os Pokémon onde o jogador pode lutar
        contra a CPU ou outros jogadores através do Transfer Pak de Nintendo 64 com
        Pokémon Red, Blue & Yellow inserido.
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <a href="https://play.google.com/store/games" class="w-full" target="_blank"><p-button label="Baixar Agora!" styleClass="w-full"></p-button></a>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
