<div class="container " >
    <p class="col-12 text-center text-white text-4xl font-semibold pt-6 m-0  "> Gerações</p>
    <p class="text-white text-center m-0 mb-4 col-12">Devido ao grande número de Pokémon, a listagem de cada espécie é dividida em artigos por geração</p>
    <div class="card flex justify-content-center ">
      <p-accordion class="col-10 pb-8" [activeIndex]="0">
        <p-accordionTab header="Primeira geração: Charmander / Bulbasauro / Squirtle">
          <p>
            É aqui onde tudo começou, e Bulbasaur, Charmander e Squirtle foram os primeiros
            pokémons com quem o mundo jogou - Bulbasaur inclusive é o poké número 1 na pokédex.
            Aqui há um equilíbrio entre os três quanto a atributos de batalha, mas Squirtle e Charmander
            se destacam graças ao carisma de suas participações no desenho animado, e no caso de Charmander,
            a sua evolução Charizard ser um campeão de popularidade entre os fãs até hoje.
          </p>
          <img src="assets/gerações/primeira.png">
        </p-accordionTab>
        <p-accordionTab header="Segunda geração: Cindaquill / Totodile / Chikorita ">
          <p>
            Apesar da segunda geração de jogos ter sido uma grande evolução em relação a
            primeira, seu trio de iniciais não repetiu o brilho da anterior. Ainda que seja o
            primeiro pokémon fêmea inicial, Chikorita é um dos piores iniciais em termos de atributos e
            moveset. Totodile se sai melhor nesses quesitos, pois suas evoluções são muito fortes em ataque
            físico, mas terminam limitados por não terem acesso a muitos golpes que justifiquem suas vantagens.
            Então o destaque fica com Cindaquill, pois além de ser o mais forte dos três, seu carisma lhe garantiu
            várias participações recentes nos desenhos e nos jogos
          </p>

          <img src="assets/gerações/segunda.png">
        </p-accordionTab>
        <p-accordionTab header="Terceira geração: Treecko / Torchic / Mudkip">
          <p>
            A terceira geração de iniciais retoma o equilíbrio da primeira,
            com três pokémon fortes e equilibrados. Torchic leva vantagem sobre seus companheiros
            tanto no quesito carisma (Mudkip e Treecko nunca chamaram muita atenção) e por ser o pokémon
            que iniciou a tendência de combinar os tipos fogo e lutador, combinação bastante ofensiva e de
            grande efetividade nas mãos de um treinador experiente. Blaziken, a evolução final de Torchic, é
            uma estrela de torneios Pokémon, e a depender do moveset, pode ser um verdadeiro terror dos adversários.
          </p>
          <img src="assets/gerações/terceira.png">
        </p-accordionTab>
        <p-accordionTab header="Quarta geração: Turtwig / Chimchar / Piplup">
          <p>
            A geração de pokémon iniciais compensou sua falta geral de carisma com capacidade
            de luta acima da média, cujas evoluções finais se mostram ferozes contra qualquer adversário
            que venha pela frente. Turtwig e Piplup se transformam nos "tanques" Torterra e Empoleon,
            respectivamente, ainda que o segundo seja ligeiramente limitado pela combinação de tipos água e aço.
            Chimchar, por sua vez, funciona como um Treecko menos poderoso mas mais versátil, cuja evolução final,
            Infernape (que também é do tipo fogo e lutador), é considerado como um dos iniciais mais poderosos
            entre todos os pokémon.
          </p>

          <img src="assets/gerações/quarta.png">
        </p-accordionTab>
        <p-accordionTab header="Quinta geração: Snivy / Tepig / Oshawott">
          <p>
            A quinta geração repete a situação da segunda, com dois pokémon muito bons,
            Snivy e Tepig, e Oshawott fazendo as vezes da Chikorita, como a criatura claramente
            inferior entre essas três. Tepig e Snivy também competem equilibradamente no quesito carisma,
            com Snivy e sua curiosa atitude arrogante (sua forma final se chama Serperior, para não deixar dúvida)
            levando pequena vantagem. Snivy também tem a distinção de evoluir para um pokémon cobra que
            se distancia de mediocridades como Arbok e Seviper, e possuir um moveset variado para uma
            criatura de tipo único planta.
          </p>

          <img src="assets/gerações/quinta.png">
        </p-accordionTab>
        <p-accordionTab header="Sexta geração: Chespin / Fennekin / Froakie">
          <p>
            O super popular sapinho pokémon não deixou muito espaço para seus companheiros de geração,
            não importando o critério a ser avaliado. Sem contar que sua evolução final, Greninja, além de
            muito poderoso e versátil graças à combinação dos tipos água e sombrio, ainda conta com a versão
            "Ash", com visual ainda mais legal e compatível com a habilidade "proteam" que muda o tipo de
            Greninja conforme o ataque utilizado em batalha, o que torna seus poderosos ataques ainda mais
            mortais. Quanto aos demais pokémon iniciais, Fennekin também se sai bem em batalha e tem a distinção
            de trocar a combinação fogo e lutador por psíquico, lhe conferindo vantagens únicas.
          </p>
          <img src="assets/gerações/sexta.png">
        </p-accordionTab>
        <p-accordionTab header="Sétima geração: Rowlet / Litten / Popplio">
          <p>
            Similar à segunda e quinta gerações, a sétima geração de iniciais nos apresenta dois
            pokémon competindo em pé de igualdade - Rowlet e Litten - com o terceiro, Popplio, ficando
            um pouco para trás (ainda que leve vantagem sobre Oshawott e Chikorita). Ainda sobre reprises,
            Rowlet assume papel similar ao de Bulbassaur como um "easy game", uma vez que sua combinação de
            tipos grama e voador lhe dá condições de atropelar os primeiros adversários de Pokémon Sun e Moon.
            Litten é um gato de fogo que evolui para a bem sucedida combinação fogo e sombrio, ainda que sua
            forma final não tenha alcançado a mesma popularidade da evolução final de Rowlet, o igualmente
            versátil Decidueye e sua estranha combinação de tipos grama e fantasma.
          </p>

          <img src="assets/gerações/setima.png">
        </p-accordionTab>
        <p-accordionTab header="Oitava geração: Grookey / Scorbunny / Sobble">
          <p>
            A mais recente das gerações de pokémon iniciais não apresentou criaturas de grande destaque.
            Se Scorbunny e Sobble parecem ter aparecido mais recentemente, Grookey é o pokémon que se sobressai
            no game graças a sua poderosa evolução final, Rillaboom. Os pokémon da oitava geração também vão mais
            "direto ao assunto", com as três criaturas sendo de tipos únicos, com nenhum apresentando quaisquer
            combinações (inclusive nas formas intermediárias).
          </p>

          <img class="w-20rem h-15rem"  src="assets/gerações/oitava.png">
        </p-accordionTab>

      </p-accordion>
    </div>
</div>

