.container
    img
        width: 50%
        height: 50%

    form
        width: 100%

    h2
        width: 100%
        text-align: center
        padding: 1rem

    button
        padding: .6rem
        display: flex
        width: 8rem
        justify-content: center
        margin: 0 auto
        font-size: 1rem
        background-color: #fff
        border: solid 1px #DC0A2D
        color: #DC0A2D
        cursor: pointer
        transition: all .3s ease-in-out

    button:hover
        background-color: #DC0A2D
        color: #fff
