<p-toast></p-toast>
<section class="container flex align-items-center flex-column p-3 lg:flex-row lg:p-8 ">
    <img class="col-6 " src="assets/cadastro-cover.png" alt="Pokedex">
    <div class="col-6">
      <h2 class="col-12">{{ pokemon == undefined ? 'Cadastre um novo POKEMON!' : 'Atualize seu POKEMON!'}}</h2>
        <form [formGroup]="form" (ngSubmit)="save()">
          <p-floatLabel>
            <input id="username" type="text" pInputText formControlName="nome" />
            <label for="username">Qual seu Pokémon?</label>
          </p-floatLabel>
          <p-editor formControlName="descricao" [style]="{ height: '120px'}"></p-editor>
          <div class="flex justify-content-center pt-4">
            <p-dropdown class="mr-4" [options]="types" formControlName="tipo" optionLabel="name" optionValue="value" [showClear]="true" placeholder="Qual tipo do Pokémon"></p-dropdown>
            <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload>
          </div>
          <button type="submit" pButton pRipple label="Cadastrar" class="p-button-success mt-4"></button>
        </form>
    </div>
</section>
