<p-menubar [model]="items" styleClass="my-menubar" class="w-full" >
  <ng-template pTemplate="start">
    <div class="flex">
      <img src="assets/icone.png"  class=" mr-2 h-3rem lg:block hidden " />
      <img src="assets/footer.png"  class="mt-1 mr-2 h-2rem lg:block hidden " />
    </div>
  </ng-template>
  <ng-template pTemplate="end" >
    <div class="flex">
      <img src="assets/icone.png"  class=" mr-2 h-3rem lg:hidden block " />
      <img src="assets/footer.png"  class="mt-1 mr-2 h-2rem lg:hidden block " />
    </div>
  </ng-template>
</p-menubar>

